footer {
    background-color: hsl(260, 8%, 14%);
}

.footer-container {
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo {
    align-self: flex-start;
}

.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-info h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: white;
    margin-bottom: 15px;
}

.footer-info a {
    text-decoration: none;
    font-size: 14px;
    color: hsl(0, 0%, 75%);
}

.footer-info a:hover{
    color: hsl(180, 66%, 49%);
}

.footer-info ul {
    align-self: flex-start;
    margin-right: 60px;
}

.footer-info ul li {
    list-style: none;
}

.footer-info svg {
    align-self: flex-start;
    margin-right: 20px;
}

.footer-info svg path:hover{
    fill: hsl(180, 66%, 49%);
}